/*** Global ***/

html {
  height: 100%;
  margin:0;
 
}


/*** 1. The Essential Code ***/

body {
  height:2em;
  min-width: 630px;
  margin:0;
  /* 2 x (LC fullwidth + CC padding) + RC fullwidth */
}

#container {
  height:100%;
  padding-left: 100px;
  /* LC fullwidth */
  padding-right: 200px;
  /* RC fullwidth + CC padding */
}

#container .column {
  /* Float + Relative position */
  position: relative;
  float: left;
}

#center {
  padding: 10px 20px;
  /* CC padding */
  width: 100%;
}

#left {
  width: 80px;
  /* LC width */
  height: 100%;

  padding: 0 10px;
  /* LC padding */
  right: 140px;
  /* LC fullwidth + CC padding */
  margin-left: -100%;
}

#right {
  height: 100%;
  width: 140px;
  /* RC width */
  padding: 0 10px;
  /* RC padding */
  margin-right: -100%;
}

#footer {
  /* Clare Float */
  clear: both;
}

/*** 2. Equal-height Columns ***/

#container {
  overflow: hidden;
}

#container .column {
  padding-bottom: 1001em;
  /* X + padding-bottom */
  /* X */
}


/*** 3. IE Fix ***/
* html #left {
  left: 150px;
  /* RC fullwidth */
}

/*** IE Footer Fix ***/

* html body {
  overflow: hidden;
}

* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  margin-bottom: -100px;
  background: #FFF;
  /*** Same as body background ***/
}


/*** Just for Looks ***/

body {
  margin: 0;
  padding: 0;
  background: #FFF;
}

#header,
#footer {
  font-size: large;
  text-align: center;
  padding: 0.3em 0;
  background: #999;
}

#left {
  background: #66F;
}

#center {
  background: #DDD;
}

#right {
  background: #F66;
}

#container .column {
  padding-top: 1em;
  text-align: justify;
}

#left .tag{
border: 2px solid black;
margin: 10px 0px;
padding: 0px 5px;
}
#center .content{
height: 5em;
border: 2px solid black;
margin: 10px 0px;
padding: 5px 5px;
overflow: hidden;
}
#right .block{
height: 5em;
border: 2px solid black;
margin: 10px 0px;
padding: 5px 5px;
}
.fixed-content{
position:fixed;
}
img {
height:100%;
float:left;
margin:0px 5px 0px 0px;
} 
input{
width:80%;
}
span{
float:left;
margin:0em 0.5em;
}
