
.list{
  display: flex;
  flex-direction: column;
  height:100%;
}

.list .content{
  background-color: wheat;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1%;
  height:7em;

}

.list .content .imgbox{
  width:30%;
  height:60%;
  padding:2%;
  overflow:hidden;
}

.list .content .imgbox img{
  width:85%;
}

.list .content .textbox{
  text-decoration:none;
}